*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tif binary
*.tiff binary
*.ttf binary
*.otf binary

*.py text eol=lf
*.tex text eol=lf
*.sty text eol=lf
*.md text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.tsv text eol=lf
*.yaml text eol=lf
